checkmarx-ast-teamcity-plugin-agent/src/runner/bin/2.0.0/cx filter=lfs diff=lfs merge=lfs -text
checkmarx-ast-teamcity-plugin-agent/src/runner/bin/2.0.0/cx.exe filter=lfs diff=lfs merge=lfs -text
checkmarx-ast-teamcity-plugin-agent/src/runner/bin/2.0.0/cx-mac filter=lfs diff=lfs merge=lfs -text
